@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Geist+Mono:wght@100..900&family=Tektur:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Audiowide&family=Geist+Mono:wght@100..900&family=Lobster&family=Tektur:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-Mono: "Geist Mono", "sans-serif";
  --font-audiowide: "Audiowide", sans-serif;

  --color-primary: #004225;
  --color-secondary: #007a5e;
  --color-accent: #c5a880;
  --color-bg: #f8f9f3;
  --color-text: #1c1c1c;
}

@layer base {
  body {
    font-family: "Geist Mono", "sans-serif";
  }
}
